/*Generales*/

body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: inherit;
  min-height: inherit;
}

/*Header*/

header {
  padding-top: 20px;
  height: 152px;
  background-color: #ff3b3c;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 218;
}

.logo img {
  width: 218px;
  height: auto;
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.search .form input {
  height: 62px;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 14px;
  border: none;
}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search .social ul li {
  padding: 0 10px;
}

.nav {
  padding: 10px 0;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}

/*Main*/

.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-images-block,
.product-description-block,
.product-checkout-block {
  flex: 1;
}

.product-images-block {
  max-width: 100%;
  overflow: hidden;
  margin: 5px;
}

.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.product-description-block .title {
  color: #f11919;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}

.product-description-block .selector fieldset {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
}

.product-description-block .selector fieldset select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product-description-block .description p {
  color: #646464;
  font-size: 16px;
  font-weight: lighter;
  word-wrap: break-word;
}

.product-checkout-block {
  background-color: #ebebeb;
  padding: 33px;
  border-radius: 2px;
}

.total-label {
  color: #ff3b3c;
}

.total-price {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.checkout-description {
  line-height: 20.04px;
  word-wrap: break-word;
}

.checkout-policy-list {
  list-style-type: none;
  margin-bottom: 30px;
}

.checkout-policy-list li {
  display: flex;
  margin: 15px 0;
}

.checkout-policy-list li .policy-icon {
  margin-right: 15px;
}

.checkout-process .top {
  display: flex;
  margin-bottom: 10px;
}

.checkout-process .top input {
  height: 40px;
  width: 62px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  height: 40px;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  height: 40px;
  border: 1px solid #ff3b3c;
  border-radius: 10px;
  color: #ff3b3c;
  font-weight: bold;
}

/*Footer*/

footer {
  min-height: 368px;
  background-color: #7525a7;
}

footer .container {
  display: flex;
  flex-direction: column;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 30px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 2px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

/*Vista de Tablet*/

@media (max-width: 768px) {
  .search .form input {
    width: 300px;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Vista de telefonico papi que lo que*/

@media (max-width: 425px) {
  .search .logo img {
    width: 150px;
  }

  .search .form input {
    width: 100px;
  }

  .title-container span:first-child {
    font-size: 30px;
  }

  .title-container span:last-child {
    font-size: 80px;
    line-height: 80px;
  }

  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
